:root {
  /** Colors **/
  --dark-blue: #0b485b;
  --medium-blue: #19c1ce;
  --light-blue: #07e5eb;
  --dark-yellow: #f2bf4e;
  --light-yellow: #f4ca6d;
  --black: #000000;
  --darker-gray: #212429;
  --dark-gray: #7e8a98;
  --medium-gray: #97a1ac;
  --gray: #cfd3d8;
  --light-gray: #f1f3f5;
  --white: ##ffffff;

  /** Fonts **/
  --heading-lg-desk: 900 56px/100% "Darker Grotesque", sans-serif;
  --heading-lg-mob: 900 40px/100% "Darker Grotesque", sans-serif;
  --heading-md-desk: 900 40px/100% "Darker Grotesque", sans-serif;
  --heading-md-mob: 900 32px/100% "Darker Grotesque", sans-serif;
  --heading-sm-desk: 900 32px/110% "Darker Grotesque", sans-serif;
  --heading-sm-mob: 900 24px/110% "Darker Grotesque", sans-serif;
  --heading-xs-desk: 800 24px/110% "Darker Grotesque", sans-serif;
  --heading-xs-mob: 800 20px/110% "Darker Grotesque", sans-serif;
  --subtitle-sm-desk: 400 20px/140% "Nunito Sans", sans-serif;
  /* checar os --subtitle-sm se é desk ou mob */
  --subtitle-sm: 400 16px/140% "Nunito Sans", sans-serif;
  --subtitle-xs: 400 14px/120% "Nunito Sans", sans-serif;
  --body-lg: 700 20px/150% "Nunito Sans", sans-serif;
  --body-md: 700 16px/150% "Nunito Sans", sans-serif;
  --body-sm: 700 14px/150% "Nunito Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button a {
  color: inherit;
  text-decoration: none;
}

body button:hover,
a:hover {
  cursor: pointer;
}

section:first-of-type {
  margin-top: 80px;
}

.btn-primary-enabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 122px;
  height: 36px;
  background: var(--medium-blue);
  font: var(--body-sm);
  text-transform: uppercase;
  position: relative;
  color: var(--darker-gray);
}

.btn-primary-enabled:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 122px;
  height: 36px;
  background: var(--light-blue);
  font: var(--body-sm);
  text-transform: uppercase;
  position: relative;
}

.btn-highlight-enabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 448px;
  height: 40px;
  background: var(--dark-yellow);
  font: var(--body-sm);
  text-transform: uppercase;
  position: relative;
  color: var(--darker-gray);
}

.btn-highlight-enabled:hover {
  background: var(--light-yellow);
}

.btn-highlight-enabled:after,
.btn-secondary-enabled:after,
.btn-primary-enabled:after {
  content: "";
  border-top: 4px solid #000;
  width: 100%;
  top: 100%;
  box-sizing: border-box;
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
}

.btn-secondary-enabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 94px;
  height: 36px;
  border: 2px solid var(--black);
  font: var(--body-sm);
  text-transform: uppercase;
  position: relative;
  color: var(--darker-gray);
}

.btn-secondary-enabled:hover {
  background: rgba(0, 0, 0, 0.16);
}

#rd-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--gray);
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 100%;
  height: 80px;
  top: 0;
}

.logo {
  width: 174px;
  height: 32px;
}

.nav-list > li {
  display: inline-block;
  margin-right: 64px;
  color: var(--darker-gray);
  font: var(--body-md);
  list-style-type: none;
}

.nav-list > li a {
  text-decoration: none;
  color: var(--darker-gray);
  display: flex;
}

.nav-list > li:hover,
.nav-list > li a:hover {
  color: var(--dark-gray);
  cursor: pointer;
}

.nav-list > li a > img {
  margin-left: 8px;
}

.btn-arrow {
  margin-left: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.navbtn-sec {
  margin-right: 16px;
  background-color: white;
}

.navbtn-pri {
  display: flex;
}

#dropdown-menu * {
  box-sizing: border-box;
}

#dropdown-menu {
  opacity: 0;
  display: none;
}

.menu-open {
  background-color: white;
  display: grid !important;
  opacity: 1 !important;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  height: auto;
  z-index: 4;
  position: absolute;
  padding: 24px;
  box-shadow: 0px 8px 18px rgba(33, 36, 41, 0.16);
  border-radius: 2px;
}

.options-container > h4 {
  color: var(--medium-blue);
  font: 800 18px/110% "Darker Grotesque", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid var(--gray);
  width: 192px;
  padding-bottom: 16px;
}

.options-container > ul li {
  list-style-type: none;
  padding-top: 16px;
  cursor: pointer;
}

.options-container > ul li a {
  color: var(--darker-gray);
  text-decoration: none;
  list-style-type: none;
  font: var(--subtitle-xs);
}

.options-container > ul li a:hover {
  color: var(--dark-gray);
}

#hamburguer-container {
  display: none;
}

#oportunities,
#results,
#tools,
#logos,
#footer-wrapper {
  max-width: 1440px;
  margin: auto;
}

#oportunities-sec {
  background: url(./assets/images/bg-section1.svg) no-repeat;
  background-size: cover;
}

#oportunities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 650px 331px;
}

#oportunities > article:first-of-type {
  margin-top: 120px;
  width: 600px;
  margin-left: 108px;
}

#oportunities > form {
  margin-top: 40px;
  margin-right: 108px;
  width: 496px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  z-index: 3;
  background-color: white;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  padding: 40px 24px;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

#oportunities-form h4,
span {
  text-align: center;
}

#oportunities-form h4 {
  font: var(--heading-xs-desk);
  margin-bottom: 16px;
  color: var(--darker-gray);
}

#oportunities-form span {
  font: var(--subtitle-xs);
  color: var(--dark-gray);
  border-bottom: 1px solid var(--gray);
  padding-bottom: 24px;
}

#oportunities-form .first-label {
  padding-top: 24px;
}

#oportunities-form label {
  color: var(--black);
  font: var(--body-md);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
}

#oportunities-form label:nth-child(10) {
  margin-top: 8px;
}

#oportunities-form label:nth-child(10),
#oportunities-form label:nth-child(12) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  height: 24px;
}

#oportunities-form input,
select {
  /* focus */
  border: 2px solid #000000;
  box-shadow: inset 6px 6px 0px #eefbfb;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 12px;
}

#oportunities-form div {
  margin: 0;
  padding: 0;
}

#errormsg1,
#errormsg2 {
  margin: 0 !important;
  border: none !important;
  align-self: flex-end;
  position: absolute;
  margin-bottom: 5%;
}

.icon1,
.icon2,
.hide-pass {
  position: absolute;
  background: url(./assets/icons/hidepassword.svg) no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transform: translateY(-285%) translateX(26.2em);
}

.hide-pass {
  background: url(./assets/icons/showpassword.svg) no-repeat;
  background-size: contain;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#oportunities-form select {
  background-color: white;
}

#oportunities-form select option {
  font: var(--body-sm);
  color: var(--medium-gray);
}

#oportunities-form .radio-input {
  height: 12px;
  align-self: baseline;
  box-shadow: none;
  margin-right: 12px;
}

#oportunities > form > #form-details {
  padding: 24px;
  font: 400 12px/18px "Nunito Sans", sans-serif;
  color: var(--dark-gray);
}

#form-details li > a {
  color: var(--medium-blue);
}

.oportunity > p {
  font: var(--subtitle-sm);
  margin-top: 40px;
  width: 100%;
}

.oportunity-title {
  font: var(--heading-lg-desk);
}

.oportunity-title > mark {
  color: var(--medium-blue);
  text-decoration: none;
  background: none;
}

#together-text > p,
#together-text > h3,
#together-text > p > mark {
  color: white;
}

#together-text > h3 {
  font: var(--heading-sm-desk);
}

#together-text > p {
  font: var(--subtitle-sm);
  margin-top: 24px;
}

#together-wrapper {
  background: var(--dark-blue) no-repeat;
  background-position: 0%;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row: 2;
  position: relative;
  overflow: hidden;
}

#together {
  width: 100%;
  height: 331px;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1440px;
}

#together-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2%;
  height: 30%;
  background: var(--light-gray);
  transform: translate(50%, -50%) rotate(45deg) scale(1.8);
}

#together-text {
  width: 600px;
  margin-left: 108px;
}

#together-text > p > mark {
  background: none;
  font: var(--body-md);
}

.navigation-auto {
  display: none;
}

#results-sec {
  background: url(./assets/images/bg-section2.svg) no-repeat;
  background-size: cover;
}

#results {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 128px;
  padding-top: 222px;
}

.marker-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.marker-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 20%;
  background: var(--light-gray);
  transform: translate(50%, -50%) rotate(45deg) scale(1.8);
}

.marker-img {
  position: relative;
  width: 100%;
  height: 600px;
  left: 108px;
}

#results-text {
  width: 100%;
  margin-right: 108px;
  max-width: 500px;
}

#results-text > h3 {
  font: var(--heading-sm-desk);
  margin-bottom: 24px;
}

#results-text > p {
  font: var(--subtitle-sm);
  margin-bottom: 40px;
}

#results-text a {
  color: var(--medium-blue);
  text-decoration: underline;
}

#results-text ul li {
  font: var(--subtitle-sm);
  margin-bottom: 24px;
  padding-left: 19px;
}

#results-text ul {
  list-style-image: url(./assets/icons/check.svg);
  padding-left: 25px;
}

#tools > h3 {
  font: var(--heading-md-desk);
  width: 600px;
  margin-left: 108px;
  margin-top: 200px;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  margin-top: 64px;
  margin-inline: 108px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

.card > h4 {
  font: var(--heading-sm-desk);
  margin-block: 16px;
}

.card > p {
  font: var(--subtitle-sm);
}

.card > figure {
  background-color: var(--light-gray);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center; /* colocar hover */
}

#banner {
  background: url(./assets/images/bgbanner.svg) no-repeat 50%;
  background-size: cover;
  height: 396px;
  width: 100%;
  margin-inline: auto;
  margin-block: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#banner > h3 {
  font: var(--heading-md-desk);
  width: 600px;
  margin-bottom: 24px;
}

#banner > p {
  font: var(--subtitle-sm);
  width: 808px;
  margin-bottom: 40px;
}

#video-wrapper {
  display: flex;
  align-content: center;
  margin: auto;
  max-width: 1440px;
}

.video-text > h3 {
  font: var(--heading-sm-desk);
  width: 392px;
}

#video {
  background-color: var(--light-gray);
  height: 317px;
  align-content: center;
  margin-right: 108px;
  display: flex;
}

#video .video-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 66px 80px 66px 108px;
  justify-content: center;
}

.video-text button {
  width: 270px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.video-text button > figure {
  display: flex;
  align-items: center;
}

.video-player {
  align-self: center;
}

.video-player .thumb-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.video-open {
  display: block !important;
  width: 100px;
}

.thumb-container .player {
  z-index: 2;
  position: absolute;
}

.thumb-container .player:hover {
  cursor: pointer;
}

.thumb-container .thumb {
  z-index: 0;
}

.modal-wrapper {
  display: none;
}

.active-modal {
  display: flex;
  justify-content: center;
  z-index: 99;
}

.modal-wrapper {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-wrapper > #modal {
  margin-top: 10%;
  position: relative;
  justify-content: center;
}

.modal-content {
  margin-right: 10px;
  width: 855px;
  height: 500px;
}

.modal-close {
  position: absolute;
  cursor: pointer;
  top: -15px;
  right: -40px;
}

#logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logos-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 144px 45px 120px 108px;
}

.logos-text > h3 {
  font: var(--heading-md-desk);
}

.logos-text > p {
  font: var(--subtitle-sm-desk);
  margin-block: 24px 40px;
}

.logos-btn {
  width: 257px;
}

.logos-btn:hover {
  width: 257px;
}

#logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  margin-right: 108px;
}

#logo-container .logo-imgs {
  text-align: center;
  margin-bottom: 24px;
  font: var(--subtitle-xs);
}

#logo-container figcaption {
  margin-top: 8px;
}

.showmobile,
.hidden {
  display: none;
}

#footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 108px;
  height: 181px;
}

#rd-footer {
  background-color: var(--medium-blue);
}

#rd-footer .rd-bw-logo {
  width: 174px;
  height: 32px;
}

#rd-footer .social-list {
  list-style-type: none;
  display: flex;
}

#rd-footer .social-list figure {
  margin-left: 8px;
}

#section-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #78edf2;
}

#section-container figure > a:hover {
  cursor: pointer;
}

.footer-text {
  font: var(--subtitle-xs);
  color: var(--darker-gray);
  text-align: right;
  margin-top: 24px;
}

.footer-text a {
  text-decoration: underline;
  color: inherit;
}

.footer-text a:hover {
  cursor: pointer;
}

@media (max-width: 550px) {
  #rd-header {
    justify-content: space-between;
  }

  .logo-container {
    padding-inline: 16px;
  }

  .navbar,
  .buttons,
  .logos-btn {
    display: none;
  }

  .btns-mobile {
    display: flex;
    height: 88px;
    width: 100%;
    background-color: var(--light-gray);
    align-items: center;
    justify-content: center;
    margin-bottom: 28%;
  }

  .form-btn {
    width: 281px;
  }

  .bannerbtn {
    width: 215px;
  }

  .nav-mobile {
    display: flex;
    align-items: stretch;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .nav-mobile > li {
    border-bottom: 1px solid var(--gray);
    padding-block: 16px;
    margin-inline: 16px;
  }

  .nav-mobile > li:first-child {
    margin-top: 24px;
  }

  .nav-mobile > li:last-child {
    border: none;
  }

  .visible-mobile {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
  }

  .visible-mobile {
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .menu-open {
    grid-template-columns: 1fr;
    top: 150px;
  }

  .dropdown-mobile {
    display: flex !important;
    justify-content: space-between;
  }

  .options-container .options a:last-child {
    margin-bottom: 20px;
  }

  #hamburguer-container {
    display: block;
    padding-right: 16px;
  }

  #oportunities {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  #oportunities > article:first-of-type {
    width: 328px;
    margin-top: 40px;
    margin-inline: 16px;
  }

  .oportunity-title {
    font: var(--heading-lg-mob);
  }

  .oportunity-text {
    margin-bottom: 32px;
  }

  #oportunities-form {
    width: 328px !important;
    margin: 0 !important;
  }

  #oportunities-form > h4 {
    font: var(--heading-xs-mob);
  }

  #url {
    margin-top: 21px !important;
  }

  .icon1,
  .icon2,
  .hide-pass {
    transform: translateY(-285%) translateX(15.5em);
  }

  #together-wrapper {
    margin-top: 40px;
    padding-inline: 16px;
  }

  #together-wrapper::before {
    width: 6%;
  }

  #together-text {
    margin: 0;
  }

  #together-text > h3,
  #results-text > h3,
  .video-text > h3 {
    font: var(--heading-sm-mob);
  }

  .marker-container {
    display: flex;
  }

  .marker-container:after {
    background-color: white;
  }

  .marker-container img {
    width: 328px;
    height: 325px;
    margin: auto;
    left: 5px;
    margin-top: 16px;
  }

  #results {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    padding-inline: 16px;
    padding-top: 40px;
  }

  #results-text > h3 {
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  #results-text {
    width: 328px;
    margin-right: 0px;
  }

  #results-text > p {
    margin-bottom: 24px;
    font: var(--subtitle-xs);
  }

  #tools {
    display: flex;
    margin-inline: 16px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    overflow: hidden;
  }

  #tools > h3 {
    margin: 40px 16px 24px 16px;
    font: var(--heading-md-mob);
    width: 328px;
  }

  .slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    transform: translateX(55em);
  }

  .background-btn {
    background-color: var(--medium-blue) !important;
  }

  .card {
    width: 328px;
    height: 435px;
  }

  .navigation-auto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-block: 36px 52px;
  }

  .navigation-auto > button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--gray);
    margin-right: 24px;
    background-color: white;
  }

  .auto-btn6 {
    margin-left: 0;
  }

  #cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    height: 500px;
    align-items: center;
  }

  #banner {
    width: inherit;
    margin-inline: 16px;
    background: url(./assets/images/bgbannermob.svg) no-repeat;
    background-size: cover;
    margin-block: 0 64px;
  }

  /* .bannerbtn a {
    width: 183px;
  } */

  #banner > p,
  #banner > h3 {
    width: 328px;
  }

  #banner > h3 {
    font: var(--heading-md-mob);
  }

  #video,
  #logos {
    background-color: var(--light-gray);
  }

  #video-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  #video {
    margin-right: 0;
  }

  #video .video-text {
    margin: 40px 16px;
  }

  .video-text > h3 {
    width: 328px;
  }

  .modal-wrapper > #modal {
    margin-top: 50%;
  }

  .modal-close {
    right: -10px;
  }

  .modal-content {
    width: 90%;
    height: 50%;
  }

  .thumb-container .player {
    width: 80px;
    height: 80px;
  }

  .thumb {
    width: 328px;
  }

  #logos {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .logos-text {
    width: 328px;
    margin: 0;
    margin-top: 184px;
  }

  .logos-text > h3 {
    font: var(--heading-md-mob);
  }

  #logo-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    column-gap: 40px;
  }

  .showmobile {
    display: flex;
    width: 256px !important;
    margin-bottom: 84px;
  }

  #rd-footer {
    align-content: center;
    align-items: center;
    padding: 0;
    height: 221px;
    padding-top: 24px;
  }

  #footer-wrapper {
    padding-inline: 0;
  }

  #rd-footer .rd-bw-logo {
    margin-bottom: 24px;
  }

  #rd-footer .social-list {
    border-top: 1px solid #78edf2;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 328px;
    padding-top: 24px;
  }

  .footer-text {
    text-align: center;
  }

  #section-container {
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: none;
    padding: 0;
  }
}
